@tailwind base;
@tailwind components;
@tailwind utilities;

.text-selection-disable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.text>p {
  opacity: 0;
  transition: all .25s ease-in-out;
}

.text:hover p {
  opacity: 1;
  transform: scale(1.1);
}

.text-stroke-1 {
  -webkit-text-stroke: 1px #CBFF4D;
}

.text-stroke-2 {
  -webkit-text-stroke: 1px #fff;
}